.movieShow{
    display: flex;
    flex-direction: column;
    flex:1;
    margin-top: 2rem;
    width: 100%;
    
}
.movieShow img {
    align-self: center;
    border: .1rem solid #010101;
}

.yes{
    opacity: .35;
    filter: grayscale(1);
}

.movieShow img:hover {
    filter: grayscale(0);
    transform: scale(.99);
    opacity: 1;
    transition: all ease 0.4s;
    border: .1rem solid greenyellow;
}

.movieShow h4{
    align-self: center;
    text-align: center;
}