.container {
  display: inline-block;
  justify-content: space-evenly;
  max-width: 15rem;
  margin-bottom:2rem;
}

.movieShow {
  align-content: center;
}

.movieShow > h4 {
  text-align: center;
  justify-content: center;
  font-size: 1.1rem;
  margin: auto;
  width: 90%;
}

.movieShow img {
  max-width: 100%;
  transform: scale(0.9);
  object-fit: cover;
}

.yes {
  filter:grayscale(1);
  opacity: .3;
}

.movieShow > img:hover {
  transform: scale(1);
  transition: all ease 0.5s;
}

