*{
    border: black;
    border-style: double;
    background-color: red;
}


nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    max-height: 75px;
}

img {
    width: 150px;
}

img:hover {
    cursor:pointer;
}


nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav ul li {
    align-self: center;
    color: whitesmoke;
}

nav ul li:hover{
    color: greenyellow;
    cursor:pointer;
}

nav button {
    width: 150px;
    background-color: #111;
    color:greenyellow
}
nav button:hover {
    cursor:pointer;
    color: #111;
    background-color:greenyellow
}




